USE [BD_MARKECTPLACE]
GO
/****** Object:  Table [dbo].[TB_CATEGORIA]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CATEGORIA](
	[ID_CATEG] [char](5) NOT NULL,
	[NOM_CATEG] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_IMAGENES]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_IMAGENES](
	[ID_IMG] [char](10) NOT NULL,
	[IMG01] [varchar](40) NOT NULL,
	[IMG02] [varchar](40) NOT NULL,
	[IMG03] [varchar](40) NOT NULL,
	[ID_PROD] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_IMG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_MONEDA]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_MONEDA](
	[ID_MONEDA] [char](10) NOT NULL,
	[SOLES] [varchar](40) NOT NULL,
	[DOLARES] [varchar](40) NOT NULL,
	[EURO] [varchar](40) NOT NULL,
	[ID_PROD] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MONEDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PAIS]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PAIS](
	[ID_PAIS] [char](4) NOT NULL,
	[NOMBRE_PA] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PRODUCTOS]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PRODUCTOS](
	[ID_PROD] [char](10) NOT NULL,
	[NOM_PROD] [varchar](30) NOT NULL,
	[DES_PROD] [varchar](100) NOT NULL,
	[TIEMP_ENVIO] [varchar](20) NOT NULL,
	[FECHA_PUB] [varchar](25) NOT NULL,
	[PRECIO] [smallmoney] NOT NULL,
	[STOCK] [int] NOT NULL,
	[IM_PROD] [varchar](255) NULL,
	[ID_CATEG] [char](5) NOT NULL,
	[ID_USU] [char](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_ROL_USUA]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ROL_USUA](
	[ID_ROL_USUA] [char](10) NOT NULL,
	[VENDEVOR] [varchar](40) NOT NULL,
	[COMPRADOR] [varchar](40) NOT NULL,
	[ID_USU] [char](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROL_USUA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_SUB_CATEGORIA]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_SUB_CATEGORIA](
	[ID_SUB_CATEG] [char](5) NOT NULL,
	[DESC_SUB_CATEG] [varchar](15) NOT NULL,
	[ID_CATEG] [char](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUB_CATEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_UBIGEO]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_UBIGEO](
	[ID_UBIG] [char](4) NOT NULL,
	[DEPARTAMENTO] [varchar](15) NOT NULL,
	[PROVINCIA] [varchar](15) NOT NULL,
	[DISTRITO] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_UBIG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_USUARIO]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USUARIO](
	[ID_USU] [char](8) NOT NULL,
	[NOMBRES] [varchar](30) NOT NULL,
	[NOM_USU] [varchar](10) NOT NULL,
	[PASS_USU] [varchar](15) NOT NULL,
	[CORREO_USU] [varchar](25) NOT NULL,
	[FECHA_NACI] [date] NOT NULL,
	[SEXO_USU] [varchar](10) NOT NULL,
	[ID_PAIS] [char](4) NOT NULL,
	[ID_UBIG] [char](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_IMAGENES]  WITH CHECK ADD FOREIGN KEY([ID_PROD])
REFERENCES [dbo].[TB_PRODUCTOS] ([ID_PROD])
GO
ALTER TABLE [dbo].[TB_MONEDA]  WITH CHECK ADD FOREIGN KEY([ID_PROD])
REFERENCES [dbo].[TB_PRODUCTOS] ([ID_PROD])
GO
ALTER TABLE [dbo].[TB_PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([ID_CATEG])
REFERENCES [dbo].[TB_CATEGORIA] ([ID_CATEG])
GO
ALTER TABLE [dbo].[TB_PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([ID_USU])
REFERENCES [dbo].[TB_USUARIO] ([ID_USU])
GO
ALTER TABLE [dbo].[TB_ROL_USUA]  WITH CHECK ADD FOREIGN KEY([ID_USU])
REFERENCES [dbo].[TB_USUARIO] ([ID_USU])
GO
ALTER TABLE [dbo].[TB_SUB_CATEGORIA]  WITH CHECK ADD FOREIGN KEY([ID_CATEG])
REFERENCES [dbo].[TB_CATEGORIA] ([ID_CATEG])
GO
ALTER TABLE [dbo].[TB_USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_PAIS])
REFERENCES [dbo].[TB_PAIS] ([ID_PAIS])
GO
ALTER TABLE [dbo].[TB_USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_UBIG])
REFERENCES [dbo].[TB_UBIGEO] ([ID_UBIG])
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINARPRODUCTO]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_ELIMINARPRODUCTO](@ID CHAR(10))
AS
	DELETE FROM TB_RODUCTOS WHERE ID_PROD = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINARUSUARIOO]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SP ELIMINAR USUARIO
CREATE PROC [dbo].[SP_ELIMINARUSUARIOO](@ID CHAR(8))
AS
	DELETE FROM TB_USUARIO WHERE ID_USU = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_INGRESOUSUARI0]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------------------------------------------------------------------------------------------------
--METODOS DE LOGIN

CREATE PROC [dbo].[SP_INGRESOUSUARI0](@CORREO VARCHAR(50), @PASSWORD VARCHAR(10))
AS
	SELECT * FROM TB_USUARIO
	where CORREO_USU = @CORREO and PASS_USU = @PASSWORD
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTACATEGORIA]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_LISTACATEGORIA]
AS
	SELECT * FROM TB_CATEGORIA
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAPAISES]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--LISTA DE PAISES
CREATE PROC [dbo].[SP_LISTAPAISES]
AS
	SELECT * FROM TB_PAIS
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAPRODUCTO]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[SP_LISTAPRODUCTO]
AS
	SELECT P.ID_PROD, P.NOM_PROD, P.DES_PROD, P.TIEMP_ENVIO, P.FECHA_PUB, P.PRECIO, P.STOCK, G.NOM_CATEG, P.IM_PROD
	FROM TB_PRODUCTOS p JOIN TB_CATEGORIA G ON P.ID_CATEG = G.ID_CATEG
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAPRODUCTSOG]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_LISTAPRODUCTSOG]
AS
	SELECT * FROM TB_RODUCTOS
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAUSUARIO]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-----------------------------------------------------------------------------------------------------------------

--METODOS DE USUARIO

--LISTA USUARIOS--
CREATE PROC [dbo].[SP_LISTAUSUARIO]
AS
	SELECT U.ID_USU,U.NOMBRES,U.NOM_USU,U.PASS_USU,U.CORREO_USU,U.FECHA_NACI,U.SEXO_USU,P.NOMBRE_PA
	FROM TB_USUARIO U  JOIN TB_PAIS P ON U.ID_PAIS=P.ID_PAIS
	
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAUSUARIOORIGINAL]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--LISTA USUARIO ORIGINAL
CREATE PROC [dbo].[SP_LISTAUSUARIOORIGINAL]
AS
	SELECT *
	FROM TB_USUARIO 
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAUSUARIOXNOMBREE]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SP LISTAXNOMBRE
CREATE PROC [dbo].[SP_LISTAUSUARIOXNOMBREE](@NOM VARCHAR(50))
AS
	SELECT U.ID_USU,U.NOMBRES,U.NOM_USU,U.PASS_USU,U.CORREO_USU,U.FECHA_NACI,U.SEXO_USU,P.NOMBRE_PA
	FROM TB_USUARIO U  JOIN TB_PAIS P ON U.ID_PAIS=P.ID_PAIS
	WHERE U.NOMBRES like @NOM+'%'
GO
/****** Object:  StoredProcedure [dbo].[SP_MANTENIMIENTOPRODUCTO]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- METODOS PRODUCTOS

--MANTENIMIENTO PRODUCTOS

CREATE PROC [dbo].[SP_MANTENIMIENTOPRODUCTO](@IDPROD CHAR(10),@NOM_PROD  VARCHAR(30),@DES_PROD VARCHAR(100), @TIEMP_ENVIO     VARCHAR(20),
									 @FECHA_PUB VARCHAR(25), @PRECIO SMALLMONEY, @STOCK  INT, @IM_PROD    VARCHAR(255), @ID_CATEG CHAR(5))    
AS
	MERGE INTO TB_RODUCTOS AS TARGET 
	USING(SELECT @IDPROD,@NOM_PROD,@DES_PROD,@TIEMP_ENVIO,@FECHA_PUB,@PRECIO,@STOCK,@IM_PROD,@ID_CATEG) 
	AS SOURCE(ID_PROD, NOM_PROD, DES_PROD, TIEMP_ENVIO, FECHA_PUB, PRECIO, STOCK, IM_PROD, ID_CATEG )
	ON (TARGET.ID_PROD=SOURCE.ID_PROD)
	WHEN MATCHED THEN 
		UPDATE SET TARGET.ID_PROD=SOURCE.ID_PROD,
		           TARGET.NOM_PROD=SOURCE.NOM_PROD,
				   TARGET.DES_PROD=SOURCE.DES_PROD,
				   TARGET.TIEMP_ENVIO=SOURCE.TIEMP_ENVIO,
				   TARGET.FECHA_PUB=SOURCE.FECHA_PUB,
				   TARGET.PRECIO=SOURCE.PRECIO,
				   TARGET.STOCK=SOURCE.STOCK,
				   TARGET.IM_PROD=SOURCE.IM_PROD,
				   TARGET.ID_CATEG=SOURCE.ID_CATEG
	WHEN NOT MATCHED THEN 
	INSERT VALUES(SOURCE.ID_PROD,SOURCE.NOM_PROD,SOURCE.DES_PROD,SOURCE.TIEMP_ENVIO,SOURCE.FECHA_PUB,SOURCE.PRECIO,SOURCE.STOCK,SOURCE.IM_PROD,SOURCE.ID_CATEG);
GO
/****** Object:  StoredProcedure [dbo].[SP_NUEVOUSUARIO]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SP NUEVO USUARIO--
CREATE PROC [dbo].[SP_NUEVOUSUARIO] (@ID_USU CHAR(8), @NOMBRES VARCHAR(30), @NOM_USU VARCHAR(10), @PASS_USU VARCHAR(15), @CORREO_USU VARCHAR(25),
@FECHA_NACI DATE,
@SEXO_USU   VARCHAR(10),
@ID_PAIS    CHAR(4) 
)
AS
INSERT INTO TB_USUARIO (ID_USU,NOMBRES,NOM_USU,PASS_USU,CORREO_USU,FECHA_NACI,SEXO_USU,ID_PAIS, ID_UBIG)
       VALUES(@ID_USU,@NOMBRES,@NOM_USU,@PASS_USU,@CORREO_USU,@FECHA_NACI,@SEXO_USU,@ID_PAIS, 'UB01'
)
GO
/****** Object:  StoredProcedure [dbo].[SP_ULTIMOCODIGOUSUARIOO]    Script Date: 10/18/2021 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ULTIMO CODIGO USUARIO
CREATE PROC [dbo].[SP_ULTIMOCODIGOUSUARIOO]
AS
	SELECT * FROM TB_USUARIO WHERE ID_USU=(SELECT max(ID_USU) FROM TB_USUARIO)
GO
