@model IEnumerable<Pagina_Videojuego.Models.Pelicula>

@{
    ViewBag.Title = "carritoCompras";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2></h2>
<br />
@Html.ActionLink( "comprar", null, new { @class="btn btn-primary"})
<br />
@Html.Partial("_PartialPeliculas")


