
@{
	ViewBag.Title = "IndexUsuario";
	Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2 style="text-align:center">Bienvenido(a) @ViewBag.nombre</h2>

<section id="cuerpo">

	<div id="juegos-izquierda">

		<h2 class="titulo-juegos">Nuevas Ofertas</h2>

		<img class="cara-img" src="~/Images/games/450_1000.jpg" alt="Caratula" />

		<img class="cara-img" src="~/Images/games/51476a53-97d4-4b4b-b38f-15b9b2217404.jpg" alt="Caratula" />

		<img class="cara-img" src="~/Images/games/Battlefield-V-PC.jpg" alt="Caratula" />

		<img class="cara-img" src="~/Images/games/call-of-duty-black-ops-xbox-360_49564.jpg" alt="Caratula" />

		<img class="cara-img" src="~/Images/games/450_1000.jpg" alt="Caratula" />

		<img class="cara-img" src="~/Images/games/Battlefield-V-PC.jpg" alt="Caratula" />

		<img class="cara-img" src="~/Images/games/max-payne-3-playstation-3-xbox-360_117202.jpg" alt="Caratula" />

		<img class="cara-img" src="~/Images/games/call-of-duty-black-ops-xbox-360_49564.jpg" alt="Caratula" />

	</div>

	<div id="formulario-derecha">


		<h2 class="titulo-juegos">-25% OFF</h2>

		<a>
			<img src="~/Images/games/control_ps4.jpg" style="width:100%; border:thick; border-radius:10px;" />
			<h4 style="text-align: center"></h4>
		</a>
	</div>



</section>

<section id="cuerpo">

	<div id="juegos-izquierda">

		<h2 class="titulo-juegos">Ultimas Ofertas</h2>

		<img class="cara-img" src="~/Images/movies/HP3149_83542499-5f51-4f2c-98bb-fbf7459bc0c5_1024x1024.jpg" alt="Caratula" />

		<img class="cara-img" src="~/Images/movies/OIP (1).jpg" alt="Caratula" />

		<img class="cara-img" src="~/Images/movies/OIP (2).jpg" alt="Caratula" />

		<img class="cara-img" src="~/Images/movies/OIP (3).jpg" alt="Caratula" />

		<img class="cara-img" src="~/Images/movies/OIP.jpg" alt="Caratula" />

		<img class="cara-img" src="~/Images/movies/pulp-fiction-521961b7ea925.jpg" alt="Caratula" />

		<img class="cara-img" src="~/Images/movies/OIP (1).jpg" alt="Caratula" />

		<img class="cara-img" src="~/Images/movies/OIP (2).jpg" alt="Caratula" />

	</div>

	<div id="formulario-derecha">

		<h2 class="titulo-juegos">Ofertas del Dia</h2>

		<div id="carrusel">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item oferta active">
						<img src="~/Images/Carrusel/Off.jpg" alt="Oferta1" style="width: 100%; height: 594px">
					</div>

					<div class="item oferta">
						<img src="~/Images/Carrusel/Off2.jpg" alt="Oferta2" style="width: 100%; height: 594px">
					</div>

					<div class="item oferta">
						<img src="~/Images/Carrusel/Off3.jpg" alt="Oferta3" style="width: 100%; height: 594px">
					</div>
				</div>
			</div>
		</div>


	</div>




</section>



<section id="cuerpo">
	<br /><br />
	<div id="topIzquierda">



	</div>

	<div id="topDerecha">

		<h2 class="titulo-juegos">Otros  productos</h2>



	</div>




</section>